{% extends 'base_auth.html' %}

{% load static %}

{% block content %}

<div class = "row">
    <div class = "col-md-4"> </div>
    <div class = "col-md-4"> 
        <div class = "card mt-5">
            

                <div class = "card-body">
                    <div class = "card-title py-3">
                <h4> Enter your email for a reset link </h4>
                </div>

                <form action = "{% url 'request-password' %}" method = "post">
                    {% csrf_token %} <!-- Always include in form -->

                    {% include 'partials/_messages.html' %}

                    <label for="email">Email address</label>
                    <div class = "form-group mb-1">
                        <input 
                        type = "email"
                        name = "email"
                        placeholder = "johndoe@gmail.com"
                        class = "form-control form-control-sm"
                        id = "emailField"
                        value = "{{values.email}}"
                        />
                    </div>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else. </br> </small>
                    <div class = "invalid-email" style="display:none">
                    <p class = "text-sm text-success email-success"> </p>
                    </div>
                    
                    <input type = "submit" value = "Submit" class = "mt-3 btn-lg btn w-100 btn-primary submit-btn" />
                </form>
                <div class = "container">
        <span class = "text-lead lead">
          Have an account?
        </span>

        <a href = "{% url 'login' %}"> Login </a>
        </br>
        <span class = "text-lead lead">
          Don't have an account?
        </span>
        <a href = "{% url 'register' %}"> Create an account </a>
      </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class = "col-md-4"> </div>
</div>

<script src="{% static 'js/register.js' %}"></script>

{% endblock content %}